#foot{
    display: grid;
    place-items: center;
    background: #490d67;
}

#foot h2{
    margin: 2% 0;
    font-size: 3rem;
    color: white;
}

iframe{
    border: solid 0.3rem black;
    margin: 2% auto;
    height: 15rem;
    width: 25rem;
}

.icons{
    font-size: 3rem;
    color: white;
    text-decoration: none;
    gap: 2rem;
    border: solid white;
    padding: 0.8rem;
    border-radius: 50%;
    margin: 2rem 0;
}

.icons:hover{
    transform: translateY(-10px);
    scale: 1.2;
    border: solid goldenrod;
}


#cont{
    display: inline-flex;
    gap: 2rem;
}

@media only screen and (max-width:480px){
    iframe{
        height: 13rem;
        width: 20rem;
    }

    .icons{
        font-size: 2rem;
        gap: 1.5rem;
        margin: 2rem 0;
    }
  }